body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: yellow;
    font-family: monospace, sans-serif;
    margin-top: 1.4em;
}

.round-div {
    border: 2px dashed yellow;
    text-align: center;
    margin: 0.2em;
    padding: 4px;
}

.buttons-div {
    margin: 0.8em;
    padding: 8px;
}

.btn-rock {
    border: 2px double red;
    font-family: monospace, sans-serif;
}

.btn-paper {
    border: 2px double purple;
    font-family: monospace, sans-serif;
}

.btn-scissors {
    border: 2px double silver;
    font-family: monospace, sans-serif;
}

.btn-rock:hover, .btn-paper:hover, .btn-scissors:hover {
    background: black;
    color: yellow;
    cursor: pointer;
}

.winner-div {
    border: 2px dashed cyan;
    color: cyan;
    margin: 0.8em;
    padding: 4px;
    display: none;
}

.info-div {
    margin: 0.8em;
    padding: 8px;
    color: fuchsia;
    border: 2px dashed cyan;
}

.round-info-div {
    text-align: center;
    border: 2px dashed;
    padding: 4px;
}

.result-div {
    border: 2px dashed;
    padding: 8px;
}

.score-div {
    border: 2px dashed;
    padding: 8px;
    display: none;
}
